* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* ////////////////// */

main {
  background-color: #dadada;
}

#circle {
  width: 200vh;
  height: 200vh;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(100deg);
}
.stripe {
  display: flex;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  transform-origin: 0% 50%;
}
.strp1 {
  transform: translate(50%, -50%) rotate(-20deg);
}
.strp2 {
  transform: translate(50%, -50%) rotate(-10deg);
}
.strp3 {
  transform: translate(50%, -50%) rotate(0deg);
}
.strp4 {
  transform: translate(50%, -50%) rotate(10deg);
}
.strp5 {
  transform: translate(50%, -50%) rotate(20deg);
}

.first {
  position: relative;
  width: 50%;
  height: 100%;
}
.smcircle {
  position: absolute;
  width: 0.5vw;
  height: 0.5vw;
  right: -0.36vw;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #000;
  border-radius: 50%;
  opacity: .4;
}
.sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  width: 50%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  opacity: .4;
}
.sec h4 {
  font-size: 2vw;
}
.sec p {
  font-size: 1vw;
  opacity: 0.7;
}

/* //////////////////// */

#pannel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5%;
  height: 30%;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mncircle {
  background-color: #000;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  opacity: .08;
  cursor: pointer;
}
